server {
    listen 80 default_server;
    listen [::]:80 default_server;

    root /var/www/html;
    index index.html index.htm index.nginx-debian.html;

    server_name _;

    location /json {
        proxy_pass http://{{ hostvars[inventory_hostname].priv_backend_ip_address }}:5000;
    }
}